@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Futura PT';
    src: local('FuturaPTLight'), url(./assets/fonts/FuturaPTLight.otf) format('otf');
  }

  @font-face {
    font-family: 'Futura PT';
    src: local('FuturaPTBook'), url(./assets/fonts/FuturaPTBook.otf) format('otf');
  }
  
  @font-face {
    font-family: 'Futura PT';
    src: local('FuturaPTMedium'), url(./assets/fonts/FuturaPTMedium.otf) format('otf');
  }
  
  @font-face {
    font-family: 'Futura PT';
    src: local('FuturaPTBold'), url(./assets/fonts/FuturaPTBold.otf) format('otf');
  }
  
 